* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eee;
    height: 100%; /* Se usa para que el footer quede siempre pegado al final de pagina sin importar la resolucion del vp */
    display: flex;
    flex-direction: column;
}

/* Nav */

nav {
    height: 50px;
    background-color: #2c6fec;
    height: aut;
}

nav > ul {
    display: flex;
    justify-content: center;}

.elemento-nav {
    list-style: none;
}

.elemento-nav > a {
    color: #fff;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}

.elemento-nav:hover {
    background-color: #fff;
}

.elemento-nav:hover > a {
    color: #000;
}

/* Wrapper, tarjetas */

.wrapper {
    flex: 1; /* Se usa para que el footer quede siempre pegado al final de pagina sin importar la resolucion del vp */
    width: 60vw;
    margin: 0 auto;
}

header > h1 {
    margin: 30px 0;
}

header > img {
    width: 60vw;
    height: 250px;
    object-fit: cover;
}

main > h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

main > .tarjetas {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.tarjeta-plan {
    width: 300px;
    height: 490px;
    margin: 0 50px;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: #00000056 0px 0px 30px;
    background-color: #e3e2eb;
}

.tarjeta-plan > h3 {
    font-size: 2rem;
}

button {
    width: 250px;
    height: 50px;
    font-size: large;
}

button:hover {
    background-color: #2c6fec;
    color: #fff;
    cursor: pointer;
    transition: ease 300ms;
}

/* Footer */

footer {
    height: 50px;
    background-color: #2c6fec;
    margin-top: 25px;
    bottom: 0px;
    flex-shrink: 0; /* Se usa para que el footer quede siempre pegado al final de pagina sin importar la resolucion del vp */

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}