main > form {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #00000056 0px 0px 30px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus {
    border-color: #2980b9;
    outline: none;
}

#btn-form:hover {
    background-color: #3db94e;
}